* {
	box-sizing: border-box;
}

p {
	margin: 0;
}


.body{
	position: absolute;
	font-size: 16px;
	font-family: Roboto, sans-serif;
	color: #fff;
	width: 1920px;
	height: 700px;
	background-image: url(../IMG/challange.jpg);
	
}
.head{
	position: relative;
	margin-left: 467px;
	margin-top: 70px;
	height: 94px;
	width: 985px;
	border: 1px solid #2b3b45;
	border-radius: 6px;
	background: rgba(255,255,255,0.05);


}
.header{
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 32px;
	color: #ffffff;
	line-height: 94px;
	margin-left: 134px;
	float: left;
}

select{
	position: relative;
	margin-top: 22px;
	margin-left: 70px;
	float: left;
	border:1px solid #2b3b45;
	border-radius: 6px;
	height: 53px;
	width: 296px;
	background: #1f272f;
	color: #d2d3d4;
}
option{
	background: #1f272f;
	border-radius: 6px;
	color: #d2d3d4;

}
.block{
	display: flex;
	justify-content: space-around;
	float: left;
}
.Ethereum{
	background: url(../IMG/bg-1.png);
	margin-left: 468px;
	margin-top: 53px;
	height: 355px;
	width: 308px;
	border:1px solid black;
	border-radius: 10px;
	padding: 24px 30px;
}



.Ethereum .price-changes .price {
	color: green;
}

.Ethereum .price-changes .price.red {
	color: red;
}


.eth-header{
	text-align: center;
	font-size: 16.932px;
	color: rgb( 255, 255, 255);
	font-weight: bold;
	margin-bottom: 150px;
}


.eth-text-price{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 16px;
	color: rgb( 255, 255, 255 );
	font-weight: bold;
	line-height: 1.45;
}
.price-changes>p{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: #68786c;
	font-size:12px;
	margin-top: 8px;
}
.Litecoin{
	background: url(../IMG/bg-2.png);
    margin-top: 53px;
    margin-left: 30px;
	height: 355px;
	width: 308px;
	border:1px solid black;
	border-radius: 10px;
	padding: 24px 30px;
}
.ltc-header{
	text-align: center;
	font-size: 16.932px;
	color: rgb( 255, 255, 255);
	font-weight: bold;
	margin-bottom: 150px;
}


.ltc-text-price{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 16px;
	color: rgb( 255, 255, 255 );
	font-weight: bold;
	line-height: 1.45;
}
.Litecoin .price-changes .price {
	color: green;
}

.Litecoin .price-changes .price.red {
	color: red;
}




.Bitcoin{
	background: url(../IMG/bg-3.png);
    margin-top: 53px;
    margin-left: 30px;
	height: 355px;
	width: 308px;
	border:1px solid black;
	border-radius: 10px;
	padding: 24px 30px;

}
.btc-header{
	text-align: center;
	font-size: 16.932px;
	color: rgb( 255, 255, 255);
	font-weight: bold;
	margin-bottom: 150px;
}


.btc-text-price{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 16px;
	color: rgb( 255, 255, 255 );
	font-weight: bold;
	line-height: 1.45;
}
.Bitcoin .price-changes .price {
	color: green;
}

.Bitcoin .price-changes .price.red {
	color: red;
}

